@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
/*--this end of loop for adjusting images on mobile view and desktop mode--*/
@media(min-width:720px){
.carousel-inner img {
    width: 100%;
    height: 95vh;
}

.swipe1{
  visibility: hidden;
}

.swipe{
      margin-top: -95vh;
}

}
@media(max-width:720px){
  .carousel-inner img {
      width: 100%;
      height: 45vh;
  }

  .swipe1{
    visibility: visible;
  }

  .swipe{
    margin-top: 0vh;
  }

 }
/*--this end of loop for adjusting images on mobile view and desktop mode--*/
.background-color-body{
  background-image: linear-gradient(180deg , #000000, #d9af45 );
}

.onlyhomepage{
  background-image: linear-gradient(10deg , #000000, #000000 );
}

.color-home{
  color: #ffffff ;
}