@media (min-width:750px){
    .copyright{
        font-size: 250%;
        color: azure;

    }
    .copyright1{
        font-size: 250%;
        color: azure;

    }
}
@media (max-width:749px){
    .copyright{
        font-size: 175%;
        color: azure;

    }
    .copyright1{
        color: azure;
        font-size: 175%;

    }
}

.para-copyright{
    font-size: 175%;
    color: azure;

}