* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:sans-serif;
}

brand1{
  font-weight: 200%;
  font-size: 30px;
}
#sidebar {
  position:absolute;
  top:auto;
  width:250px;
  height:100%;
  background:#000000;
  transition:all 300ms linear;
}
#sidebar.active {
  left:0px;
}
.toggle-btn{
  visibility: hidden;
}

@media(max-width:1000px){
  #sidebar{
    left:-250px;
  }
  #sidebar .toggle-btn {
    position:absolute;
    left:270px;
    top:90px;
  }
.toggle-btn{
  visibility: visible;
  background-color: #fcfcfc;
}
#sidebar.active {
  left:0px;
}
}

#sidebar .toggle-btn span {
  display:block;
  width:30px;
  height:5px;
  background:#151719;
  margin:5px 0px;
  cursor:pointer;
}
#sidebar div.list div.item {
  padding:15px 10px;
  border-bottom:1px solid rgb(0, 0, 0);
  color:#fcfcfc;
  text-transform:uppercase;
  font-size:15px;
}

/*MAIN PART OF SIDE BAR*/
/* Fixed sidenav, full height */
.sidenav {
  font-size: 30px;
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  padding-top: 20px;
}
.border1{
width: 250px;
margin-top: 0px;
height: 100vh;
}
.dropdown-dropdown-item{
margin-left: 1%;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover{
  color: #FFFFFF;
}

/* Main content */
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.button-width{
    width: 100%;
}

.dropdown-menu{
  height:300px;
  overflow-y:auto;
}
@media(max-height:800px){
  .dropdown-menu{
        height:200px;
        overflow-y:auto;
     }

  }


  /* styles welcome screen to download center*/
  .para{
    margin-left: 60px;
    position: center;
    color: #ff0000;
  }
@media(min-width:1000px){
   .para{
    margin-left: 330px;
   }
}
  .para p{
    font-size:3rem;
  }
  .para sub-p{
    font-size: 2rem;
  }
  .para p1{
    font-size: 1.4rem;
  }
  .para p2{
    font-size: 1.8rem;
  }
  /* side bar */
  .dropdown-menu > a {
    color: rgb(0, 0, 0); 
    background-color: #fcfcfc;
}

.dropdown-menu> a:hover {
    background-color: rgb(0, 0, 0); 
    color: #fcfcfc;
}