@media(min-width:1000px){
    .sidenav{
        position: fixed;
        margin-top: 2%;
    }
    #sidebar{
        position: fixed;
    }
    .navbar{
        position: fixed;
    }
}
@media(max-width:1000px){
    .sidenav{
        position: absolute;
        margin-top: 15%;
    }
    #sidebar{
        position: absolute;
    }
    .navbar{
        position: absolute;
    }
}

.a1{
    color: #cc0000;
}
.a1:hover{
    color:#cc0000 ;
}

.install{
width: 90%;
padding: 10px;
border: 5px solid rgb(0, 0, 0);
margin: 0;
}

