*{margin: 0; padding: 0; box-sizing: border-box;}

.margin-cards{
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
}


.card > img {
    height: 10%;
    width: 100%;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgb(255, 0, 0);
}

@media screen (min-width:600px){
.card-columns{
    width: 20rem; 
    height: 20rem;
}
}