@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
/*--this end of loop for adjusting images on mobile view and desktop mode--*/
@media(min-width:720px){
.carousel-inner img {
    width: 100%;
    height: 95vh;
}

.swipe1{
  visibility: hidden;
}

.swipe{
  margin-top: -95vh;
}

}
@media(max-width:720px){
  .carousel-inner img {
      width: 100%;
      height: 45vh;
  }

  .swipe1{
    visibility: visible;
  }

  .swipe{
    margin-top: 0vh;
  }


 }
/*--this end of loop for adjusting images on mobile view and desktop mode--*/
.background-color-body{
  /*background-image: linear-gradient(180deg , #000000, #000000 ); */
    background-color: aqua;
}

.onlyhomepage{
  background-color: black;
}

.onlyhomepage1{
 /* background-image: linear-gradient(10deg , #ffffff, #fffafa ); */
  background-color: #000000;
  
}

.onlyhomepage2{
  /*background-image: linear-gradient(10deg , #000000, #000000 ); */
  background-color: black;
}




.color-home{
  color: #ffffff ;
}

/* below code if for homepage devs info */

.btn1{
  align-items: center;
}
.btn1:hover{
  background-image: linear-gradient( 0deg , #fd0000 , #ffffff );
  border-radius: 32px;
}

.btn{
  width:32%;
}

.btn1 > img{
  width:15%;
  height:15%;
}

.decoration-home{
  box-shadow: 2px 8px 16px #000000;
  border-radius: 32px;
}
.decoration-home:hover{
  box-shadow: 2px 8px 16px #ff0000;
  border-radius: 64px;
}

/*card view alignment adjust ment */
@media(min-width:900px){
  .onlyhomepage2{
    margin-top: 10%;
  }
  .btn{
    width: 32%;
    border-radius: 32px;
  }
  .btn1 > img{
    width:15%;
    height:15%;
  }
  .btn1 > a{
    font-size: 10%;
  }

  .btn-margin{ 
    margin-left: 12%;
  }

  .card1{
    width: 32%;
    margin-top: 6%;
    margin-left: 1%;
  }
  .card2{
    width:  32%;
    margin-top: 3%;
    margin-left: 33%;
  }
  
  .card3{
    width:  32%;
    margin-top: 3%;
    margin-left: 66%;
  }
  
  .card4{
    width:  32%;
    margin-top: 3%;
    margin-left: 33%;
  }
  .card5{
    width:  32%;
    float: left;
    margin-top: 3%;
    margin-left: 1%;
  }
  .card6{
    width:  80%;
    float: left;
    margin-top: 1.5%;    margin-left: 10%;
    height: min-content;
  }
}

@media( max-width:899px ){
  .onlyhomepage2{
    margin-top: 0%;
  }
  .btn{
    width: 40%;
    border-radius: 32px;
  }
  .btn1 > img{
    width:15%;
    height:15%;
  }
  .btn1 > a{
    font-size: 10%;
  }
  .btn-margin{ 
    margin-left: 6%;
  }
  .card1{
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .card2{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .card3{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .card4{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .card5{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .card6{
    width:  80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height: min-content;
  }
}

@media(max-width:720px){
.onlydesktop{
  visibility: visible;
}
.onlyhomepage2{
  margin-top: 20%; 
}

.btn{
  width:80%;
}
.btn-margin{ 
  margin-left: 10%;
}
.btn1 > img{
  width:15%;
  height:15%;
}

.btn1 > a{
  font-size: 10%;
}


.card1{
  width: 80%;
  margin-top: 6%;
  margin-left: 10%;
  margin-right: 10%;
}
.card2{
  width: 80%;
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.card3{
  width: 80%;
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.card4{
  width: 80%;
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
.card5{
  width: 80%;
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
.card6{
  width:  80%;
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  height: min-content;
}


}

@media(max-width:320px){
  .onlydesktop{
    visibility: visible;
  }
  .onlyhomepage2{
    margin-top: 120%; 
  }
  
  .btn{
    width:80%
  }
  
  .btn1 > img{
    width:15%;
    height:15%;
  }
  
  .btn1 > a{
    font-size: 10%;
  }
  
  .card1{
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .card2{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .card3{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .card4{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .card5{
    width: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .card6{
    width:  80%;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height: min-content;
  }
  
  }







/*ADJUSTMENT FOR YOUTUBE VIDEO*/
.adjustment-yt > iframe{
  width: 90%;
  height: 90%;
}